<header>
  <div>
    <h1 class="titular">{{ title }}</h1>
  </div>
</header>
<main>
  <p>Bienvenido:</p>

  <app-user-profile *ngFor="let p of personas"
    [(nombre)]="p.nombre"
    [apellido]="p.apellido"
    [rol]="p.rol"
    (usuarioSelecionado)="onUserSelect($event)"
    ></app-user-profile>

  <button (click)="cambiaNombre()">Cambio de nombre</button>

  <input [(ngModel)]="title">

  <app-planet-detail [id]="3"></app-planet-detail>

</main>
<footer>
  <hr/>
  &copy; 2023, Nexus.
</footer>
