<header>
  <div>
    <h1 appResalta class="titular">{{ title }}</h1>
  </div>
  <nav>
    <a [routerLink]="['/home']">Inicio</a> |
    <a [routerLink]="['/about']">Acerca de </a> |
    <a [routerLink]="['/planets']">Listado de PLanetas</a> |
    <a [routerLink]="['/planet/1']">PLaneta 1</a> |
    <a [routerLink]="['/planet/2']">PLaneta 2</a> |
    <a [routerLink]="['/store']">Almacen</a> |
    <a [routerLink]="['/store/a']">A</a> |
    <a [routerLink]="['/store/b']">B</a> |
    <a [routerLink]="['/zz']">No existe ZZZ</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>

   <!-- <p>Bienvenido:</p>


  <div class="filter">
    <label for="filter">Filtro:</label>
    <input id="filter" placeholder="type to filter" type="text" [(ngModel)]="searchText">
  </div>

  <app-user-profile *ngFor="let p of personas | filterByName:searchText"
    [(nombre)]="p.nombre"
    [apellido]="p.apellido"
    [rol]="p.rol"
    (usuarioSelecionado)="onUserSelect($event)"
    ></app-user-profile>

  <button (click)="cambiaNombre()">Cambio de nombre</button>

  <input [(ngModel)]="title">

  <app-planet-detail [id]="3"></app-planet-detail>

  <div> {{ 100000 | currency:'eur' }}</div>
  <div> {{ 100000 | currency:'USD' }}</div>
  <div> {{ 100000 | currency }}</div> -->

</main>
<footer>
  <hr/>
  &copy; 2023, <span appResalta="red" color="white">Nexus</span>.
</footer>
